In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import Select

# Web Scrapping

In [2]:
driver = webdriver.Chrome(executable_path="/Users/eddy/documents/chromedriver")

<ipython-input-2-a776e300f2dd>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="/Users/eddy/documents/chromedriver")

In [3]:
url='https://www.nba.com/stats/teams/boxscores/?Season=2021-22&SeasonType=Regular%20Season'

In [4]:
driver.get(url)

In [6]:
select=Select(driver.find_element_by_xpath(r"/html/body/main/div/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select"))

<ipython-input-6-782d8f93d1b7>:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  select=Select(driver.find_element_by_xpath(r"/html/body/main/div/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select"))

In [7]:
select.select_by_index(0)

In [8]:
src=driver.page_source
parser=BeautifulSoup(src, 'lxml')
table=parser.find('div',attrs={'class':'nba-stat-table'})

In [9]:
matches=pd.read_html(str(table))[0]

In [10]:
matches

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-
0,MIN,MIN vs. CHI,04/10/2022,NaN,L,240,120,46,91,50.5,...,77.3,9,23,32,30,7,9,13,23,-4
1,CHI,CHI @ MIN,04/10/2022,NaN,W,240,124,44,83,53.0,...,78.8,16,32,48,22,9,3,23,22,4
2,PHI,PHI vs. DET,04/10/2022,NaN,W,240,118,46,88,52.3,...,91.3,10,32,42,25,13,6,11,23,12
3,DET,DET @ PHI,04/10/2022,NaN,L,240,106,38,83,45.8,...,65.5,15,27,42,26,4,4,20,16,-12
4,MEM,MEM vs. BOS,04/10/2022,NaN,L,240,110,39,102,38.2,...,63.0,19,26,45,27,11,6,10,16,-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,CHA vs. IND,10/20/2021,NaN,W,240,123,46,107,43.0,...,66.7,12,34,46,29,9,5,8,21,1
2456,BKN,BKN @ MIL,10/19/2021,NaN,L,240,104,37,84,44.0,...,56.5,5,39,44,19,3,9,13,17,-23
2457,MIL,MIL vs. BKN,10/19/2021,NaN,W,240,127,48,105,45.7,...,77.8,13,41,54,25,8,9,8,19,23
2458,LAL,LAL vs. GSW,10/19/2021,NaN,L,240,114,45,95,47.4,...,47.4,5,40,45,21,7,4,18,25,-7
2459,GSW,GSW @ LAL,10/19/2021,NaN,W,240,121,41,93,44.1,...,83.3,9,41,50,30,9,2,17,18,7

In [11]:
matches.to_csv("NBA matches.csv")

In [12]:
matches=pd.read_csv('NBA matches.csv')

# EDA

In [13]:
matches.dtypes

Unnamed: 0      int64
Team           object
Match Up       object
Game Date      object
Season        float64
W/L            object
MIN             int64
PTS             int64
FGM             int64
FGA             int64
FG%           float64
3PM             int64
3PA             int64
3P%           float64
FTM             int64
FTA             int64
FT%           float64
OREB            int64
DREB            int64
REB             int64
AST             int64
STL             int64
BLK             int64
TOV             int64
PF              int64
+/-             int64
dtype: object

In [14]:
matches.columns

Index(['Unnamed: 0', 'Team', 'Match Up', 'Game Date', 'Season', 'W/L', 'MIN',
       'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '+/-'],
      dtype='object')

In [15]:
matches["Game_Date"]=matches.iloc[:,[3]]

In [16]:
matches["Match_up"]=matches.iloc[:,[2]]

In [17]:
matches

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,DREB,REB,AST,STL,BLK,TOV,PF,+/-,Game_Date,Match_up
0,0,MIN,MIN vs. CHI,04/10/2022,NaN,L,240,120,46,91,...,23,32,30,7,9,13,23,-4,04/10/2022,MIN vs. CHI
1,1,CHI,CHI @ MIN,04/10/2022,NaN,W,240,124,44,83,...,32,48,22,9,3,23,22,4,04/10/2022,CHI @ MIN
2,2,PHI,PHI vs. DET,04/10/2022,NaN,W,240,118,46,88,...,32,42,25,13,6,11,23,12,04/10/2022,PHI vs. DET
3,3,DET,DET @ PHI,04/10/2022,NaN,L,240,106,38,83,...,27,42,26,4,4,20,16,-12,04/10/2022,DET @ PHI
4,4,MEM,MEM vs. BOS,04/10/2022,NaN,L,240,110,39,102,...,26,45,27,11,6,10,16,-29,04/10/2022,MEM vs. BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2455,CHA,CHA vs. IND,10/20/2021,NaN,W,240,123,46,107,...,34,46,29,9,5,8,21,1,10/20/2021,CHA vs. IND
2456,2456,BKN,BKN @ MIL,10/19/2021,NaN,L,240,104,37,84,...,39,44,19,3,9,13,17,-23,10/19/2021,BKN @ MIL
2457,2457,MIL,MIL vs. BKN,10/19/2021,NaN,W,240,127,48,105,...,41,54,25,8,9,8,19,23,10/19/2021,MIL vs. BKN
2458,2458,LAL,LAL vs. GSW,10/19/2021,NaN,L,240,114,45,95,...,40,45,21,7,4,18,25,-7,10/19/2021,LAL vs. GSW
2459,2459,GSW,GSW @ LAL,10/19/2021,NaN,W,240,121,41,93,...,41,50,30,9,2,17,18,7,10/19/2021,GSW @ LAL

In [18]:
matches.drop(matches.columns[[0,2,3]],axis=1,inplace=True)

In [19]:
matches

,Team,Season,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,DREB,REB,AST,STL,BLK,TOV,PF,+/-,Game_Date,Match_up
0,MIN,NaN,L,240,120,46,91,50.5,11,31,...,23,32,30,7,9,13,23,-4,04/10/2022,MIN vs. CHI
1,CHI,NaN,W,240,124,44,83,53.0,10,21,...,32,48,22,9,3,23,22,4,04/10/2022,CHI @ MIN
2,PHI,NaN,W,240,118,46,88,52.3,5,25,...,32,42,25,13,6,11,23,12,04/10/2022,PHI vs. DET
3,DET,NaN,L,240,106,38,83,45.8,11,34,...,27,42,26,4,4,20,16,-12,04/10/2022,DET @ PHI
4,MEM,NaN,L,240,110,39,102,38.2,15,47,...,26,45,27,11,6,10,16,-29,04/10/2022,MEM vs. BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,NaN,W,240,123,46,107,43.0,13,31,...,34,46,29,9,5,8,21,1,10/20/2021,CHA vs. IND
2456,BKN,NaN,L,240,104,37,84,44.0,17,32,...,39,44,19,3,9,13,17,-23,10/19/2021,BKN @ MIL
2457,MIL,NaN,W,240,127,48,105,45.7,17,45,...,41,54,25,8,9,8,19,23,10/19/2021,MIL vs. BKN
2458,LAL,NaN,L,240,114,45,95,47.4,15,42,...,40,45,21,7,4,18,25,-7,10/19/2021,LAL vs. GSW
2459,GSW,NaN,W,240,121,41,93,44.1,14,39,...,41,50,30,9,2,17,18,7,10/19/2021,GSW @ LAL

In [20]:
matches["Game_Date"] = pd.to_datetime(matches["Game_Date"])

In [21]:
a=[]
for i in matches['Match_up']:
    a.append(i.find("@"))

In [22]:
matches

,Team,Season,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,DREB,REB,AST,STL,BLK,TOV,PF,+/-,Game_Date,Match_up
0,MIN,NaN,L,240,120,46,91,50.5,11,31,...,23,32,30,7,9,13,23,-4,2022-04-10,MIN vs. CHI
1,CHI,NaN,W,240,124,44,83,53.0,10,21,...,32,48,22,9,3,23,22,4,2022-04-10,CHI @ MIN
2,PHI,NaN,W,240,118,46,88,52.3,5,25,...,32,42,25,13,6,11,23,12,2022-04-10,PHI vs. DET
3,DET,NaN,L,240,106,38,83,45.8,11,34,...,27,42,26,4,4,20,16,-12,2022-04-10,DET @ PHI
4,MEM,NaN,L,240,110,39,102,38.2,15,47,...,26,45,27,11,6,10,16,-29,2022-04-10,MEM vs. BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,NaN,W,240,123,46,107,43.0,13,31,...,34,46,29,9,5,8,21,1,2021-10-20,CHA vs. IND
2456,BKN,NaN,L,240,104,37,84,44.0,17,32,...,39,44,19,3,9,13,17,-23,2021-10-19,BKN @ MIL
2457,MIL,NaN,W,240,127,48,105,45.7,17,45,...,41,54,25,8,9,8,19,23,2021-10-19,MIL vs. BKN
2458,LAL,NaN,L,240,114,45,95,47.4,15,42,...,40,45,21,7,4,18,25,-7,2021-10-19,LAL vs. GSW
2459,GSW,NaN,W,240,121,41,93,44.1,14,39,...,41,50,30,9,2,17,18,7,2021-10-19,GSW @ LAL

In [23]:
matches["venue"]=a

In [24]:
matches

,Team,Season,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,REB,AST,STL,BLK,TOV,PF,+/-,Game_Date,Match_up,venue
0,MIN,NaN,L,240,120,46,91,50.5,11,31,...,32,30,7,9,13,23,-4,2022-04-10,MIN vs. CHI,-1
1,CHI,NaN,W,240,124,44,83,53.0,10,21,...,48,22,9,3,23,22,4,2022-04-10,CHI @ MIN,4
2,PHI,NaN,W,240,118,46,88,52.3,5,25,...,42,25,13,6,11,23,12,2022-04-10,PHI vs. DET,-1
3,DET,NaN,L,240,106,38,83,45.8,11,34,...,42,26,4,4,20,16,-12,2022-04-10,DET @ PHI,4
4,MEM,NaN,L,240,110,39,102,38.2,15,47,...,45,27,11,6,10,16,-29,2022-04-10,MEM vs. BOS,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,NaN,W,240,123,46,107,43.0,13,31,...,46,29,9,5,8,21,1,2021-10-20,CHA vs. IND,-1
2456,BKN,NaN,L,240,104,37,84,44.0,17,32,...,44,19,3,9,13,17,-23,2021-10-19,BKN @ MIL,4
2457,MIL,NaN,W,240,127,48,105,45.7,17,45,...,54,25,8,9,8,19,23,2021-10-19,MIL vs. BKN,-1
2458,LAL,NaN,L,240,114,45,95,47.4,15,42,...,45,21,7,4,18,25,-7,2021-10-19,LAL vs. GSW,-1
2459,GSW,NaN,W,240,121,41,93,44.1,14,39,...,50,30,9,2,17,18,7,2021-10-19,GSW @ LAL,4

In [25]:
matches["venue"]=matches["venue"].replace(4,'Away')
matches["venue"]=matches["venue"].replace(-1,'Home')

In [26]:
matches

,Team,Season,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,REB,AST,STL,BLK,TOV,PF,+/-,Game_Date,Match_up,venue
0,MIN,NaN,L,240,120,46,91,50.5,11,31,...,32,30,7,9,13,23,-4,2022-04-10,MIN vs. CHI,Home
1,CHI,NaN,W,240,124,44,83,53.0,10,21,...,48,22,9,3,23,22,4,2022-04-10,CHI @ MIN,Away
2,PHI,NaN,W,240,118,46,88,52.3,5,25,...,42,25,13,6,11,23,12,2022-04-10,PHI vs. DET,Home
3,DET,NaN,L,240,106,38,83,45.8,11,34,...,42,26,4,4,20,16,-12,2022-04-10,DET @ PHI,Away
4,MEM,NaN,L,240,110,39,102,38.2,15,47,...,45,27,11,6,10,16,-29,2022-04-10,MEM vs. BOS,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,NaN,W,240,123,46,107,43.0,13,31,...,46,29,9,5,8,21,1,2021-10-20,CHA vs. IND,Home
2456,BKN,NaN,L,240,104,37,84,44.0,17,32,...,44,19,3,9,13,17,-23,2021-10-19,BKN @ MIL,Away
2457,MIL,NaN,W,240,127,48,105,45.7,17,45,...,54,25,8,9,8,19,23,2021-10-19,MIL vs. BKN,Home
2458,LAL,NaN,L,240,114,45,95,47.4,15,42,...,45,21,7,4,18,25,-7,2021-10-19,LAL vs. GSW,Home
2459,GSW,NaN,W,240,121,41,93,44.1,14,39,...,50,30,9,2,17,18,7,2021-10-19,GSW @ LAL,Away

In [27]:
b=[]
for i in matches['Match_up']:
    b.append(i[-3:])

In [28]:
matches["opponent"]=b

In [29]:
matches

,Team,Season,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,AST,STL,BLK,TOV,PF,+/-,Game_Date,Match_up,venue,opponent
0,MIN,NaN,L,240,120,46,91,50.5,11,31,...,30,7,9,13,23,-4,2022-04-10,MIN vs. CHI,Home,CHI
1,CHI,NaN,W,240,124,44,83,53.0,10,21,...,22,9,3,23,22,4,2022-04-10,CHI @ MIN,Away,MIN
2,PHI,NaN,W,240,118,46,88,52.3,5,25,...,25,13,6,11,23,12,2022-04-10,PHI vs. DET,Home,DET
3,DET,NaN,L,240,106,38,83,45.8,11,34,...,26,4,4,20,16,-12,2022-04-10,DET @ PHI,Away,PHI
4,MEM,NaN,L,240,110,39,102,38.2,15,47,...,27,11,6,10,16,-29,2022-04-10,MEM vs. BOS,Home,BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,NaN,W,240,123,46,107,43.0,13,31,...,29,9,5,8,21,1,2021-10-20,CHA vs. IND,Home,IND
2456,BKN,NaN,L,240,104,37,84,44.0,17,32,...,19,3,9,13,17,-23,2021-10-19,BKN @ MIL,Away,MIL
2457,MIL,NaN,W,240,127,48,105,45.7,17,45,...,25,8,9,8,19,23,2021-10-19,MIL vs. BKN,Home,BKN
2458,LAL,NaN,L,240,114,45,95,47.4,15,42,...,21,7,4,18,25,-7,2021-10-19,LAL vs. GSW,Home,GSW
2459,GSW,NaN,W,240,121,41,93,44.1,14,39,...,30,9,2,17,18,7,2021-10-19,GSW @ LAL,Away,LAL

In [30]:
del matches['Season']
del matches['Match_up']

In [31]:
matches

,Team,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,REB,AST,STL,BLK,TOV,PF,+/-,Game_Date,venue,opponent
0,MIN,L,240,120,46,91,50.5,11,31,35.5,...,32,30,7,9,13,23,-4,2022-04-10,Home,CHI
1,CHI,W,240,124,44,83,53.0,10,21,47.6,...,48,22,9,3,23,22,4,2022-04-10,Away,MIN
2,PHI,W,240,118,46,88,52.3,5,25,20.0,...,42,25,13,6,11,23,12,2022-04-10,Home,DET
3,DET,L,240,106,38,83,45.8,11,34,32.4,...,42,26,4,4,20,16,-12,2022-04-10,Away,PHI
4,MEM,L,240,110,39,102,38.2,15,47,31.9,...,45,27,11,6,10,16,-29,2022-04-10,Home,BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,W,240,123,46,107,43.0,13,31,41.9,...,46,29,9,5,8,21,1,2021-10-20,Home,IND
2456,BKN,L,240,104,37,84,44.0,17,32,53.1,...,44,19,3,9,13,17,-23,2021-10-19,Away,MIL
2457,MIL,W,240,127,48,105,45.7,17,45,37.8,...,54,25,8,9,8,19,23,2021-10-19,Home,BKN
2458,LAL,L,240,114,45,95,47.4,15,42,35.7,...,45,21,7,4,18,25,-7,2021-10-19,Home,GSW
2459,GSW,W,240,121,41,93,44.1,14,39,35.9,...,50,30,9,2,17,18,7,2021-10-19,Away,LAL

In [32]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes
matches["opp_code"] = matches["opponent"].astype("category").cat.codes
matches["day_code"] = matches["Game_Date"].dt.dayofweek
matches["target"] = (matches["W/L"] == "W").astype("int")

In [33]:
matches

,Team,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,TOV,PF,+/-,Game_Date,venue,opponent,venue_code,opp_code,day_code,target
0,MIN,L,240,120,46,91,50.5,11,31,35.5,...,13,23,-4,2022-04-10,Home,CHI,1,4,6,0
1,CHI,W,240,124,44,83,53.0,10,21,47.6,...,23,22,4,2022-04-10,Away,MIN,0,17,6,1
2,PHI,W,240,118,46,88,52.3,5,25,20.0,...,11,23,12,2022-04-10,Home,DET,1,8,6,1
3,DET,L,240,106,38,83,45.8,11,34,32.4,...,20,16,-12,2022-04-10,Away,PHI,0,22,6,0
4,MEM,L,240,110,39,102,38.2,15,47,31.9,...,10,16,-29,2022-04-10,Home,BOS,1,2,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,CHA,W,240,123,46,107,43.0,13,31,41.9,...,8,21,1,2021-10-20,Home,IND,1,11,2,1
2456,BKN,L,240,104,37,84,44.0,17,32,53.1,...,13,17,-23,2021-10-19,Away,MIL,0,16,1,0
2457,MIL,W,240,127,48,105,45.7,17,45,37.8,...,8,19,23,2021-10-19,Home,BKN,1,1,1,1
2458,LAL,L,240,114,45,95,47.4,15,42,35.7,...,18,25,-7,2021-10-19,Home,GSW,1,9,1,0
2459,GSW,W,240,121,41,93,44.1,14,39,35.9,...,17,18,7,2021-10-19,Away,LAL,0,13,1,1

# Machine Learning Model

In [34]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=500, min_samples_split=10, random_state=1)

In [35]:
train = matches[matches["Game_Date"] < '2022-02-01']
test = matches[matches["Game_Date"] > '2022-02-01']

In [36]:
predictors = ["venue_code", "opp_code", "day_code"]

In [37]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=500, random_state=1)

In [38]:
preds = rf.predict(test[predictors])

In [39]:
from sklearn.metrics import accuracy_score
error = accuracy_score(test["target"], preds)

In [40]:
error

0.5440860215053763

In [41]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1
actual
0          244  221
1          203  262

In [42]:
combined

     actual  predicted
0         0          1
1         1          0
2         1          1
3         0          0
4         0          0
..      ...        ...
925       0          0
926       0          1
927       1          0
928       1          1
929       0          0

[930 rows x 2 columns]

In [43]:
combined = combined.merge(test[["Game_Date", "Team", "opponent", "W/L"]], left_index=True, right_index=True)

In [44]:
combined

     actual  predicted  Game_Date Team opponent W/L
0         0          1 2022-04-10  MIN      CHI   L
1         1          0 2022-04-10  CHI      MIN   W
2         1          1 2022-04-10  PHI      DET   W
3         0          0 2022-04-10  DET      PHI   L
4         0          0 2022-04-10  MEM      BOS   L
..      ...        ...        ...  ...      ...  ..
925       0          0 2022-02-02  BKN      SAC   L
926       0          1 2022-02-02  DAL      OKC   L
927       1          0 2022-02-02  OKC      DAL   W
928       1          1 2022-02-02  HOU      CLE   W
929       0          0 2022-02-02  CLE      HOU   L

[930 rows x 6 columns]

In [50]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.5424430641821946

In [51]:
grouped_matches = matches.groupby("Team")

In [52]:
group = grouped_matches.get_group("CHI").sort_values("Game_Date")

In [53]:
group

,Team,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,TOV,PF,+/-,Game_Date,venue,opponent,venue_code,opp_code,day_code,target
2453,CHI,W,240,94,37,86,43.0,7,23,30.4,...,17,19,6,2021-10-20,Away,DET,0,8,2,1
2417,CHI,W,240,128,47,89,52.8,14,28,50.0,...,14,14,16,2021-10-22,Home,NOP,1,18,4,1
2400,CHI,W,240,97,35,84,41.7,11,26,42.3,...,13,17,15,2021-10-23,Home,DET,1,8,5,1
2363,CHI,W,240,111,39,81,48.1,12,27,44.4,...,13,16,3,2021-10-25,Away,TOR,0,27,0,1
2325,CHI,L,240,103,36,84,42.9,11,32,34.4,...,7,18,-1,2021-10-28,Home,NYK,1,19,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,CHI,L,240,109,37,86,43.0,9,34,26.5,...,6,19,-18,2022-04-02,Home,MIA,1,15,5,0
84,CHI,L,240,106,42,98,42.9,9,33,27.3,...,15,21,-21,2022-04-05,Home,MIL,1,16,1,0
74,CHI,L,240,94,35,80,43.8,7,23,30.4,...,17,22,-23,2022-04-06,Home,BOS,1,2,2,0
46,CHI,L,240,117,44,82,53.7,13,24,54.2,...,12,12,-16,2022-04-08,Home,CHA,1,3,4,0
1,CHI,W,240,124,44,83,53.0,10,21,47.6,...,23,22,4,2022-04-10,Away,MIN,0,17,6,1

In [54]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("Game_Date")
    rolling_stats = group[cols].rolling(1, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [55]:
cols = ["PTS", "FGM", "FGA", "3PM", "3PA", 'FTM', 'FTA','OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV']
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,Team,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,3PA_rolling,FTM_rolling,FTA_rolling,OREB_rolling,DREB_rolling,REB_rolling,AST_rolling,STL_rolling,BLK_rolling,TOV_rolling
2417,CHI,W,240,128,47,89,52.8,14,28,50.0,...,23.0,13.0,15.0,9.0,39.0,48.0,18.0,8.0,5.0,17.0
2400,CHI,W,240,97,35,84,41.7,11,26,42.3,...,28.0,20.0,25.0,11.0,35.0,46.0,32.0,9.0,7.0,14.0
2363,CHI,W,240,111,39,81,48.1,12,27,44.4,...,26.0,16.0,19.0,3.0,39.0,42.0,24.0,13.0,11.0,13.0
2325,CHI,L,240,103,36,84,42.9,11,32,34.4,...,27.0,21.0,22.0,5.0,24.0,29.0,24.0,11.0,3.0,13.0
2297,CHI,W,240,107,39,91,42.9,5,21,23.8,...,32.0,20.0,22.0,5.0,32.0,37.0,25.0,6.0,5.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,CHI,L,240,109,37,86,43.0,9,34,26.5,...,29.0,25.0,32.0,13.0,37.0,50.0,24.0,6.0,3.0,8.0
84,CHI,L,240,106,42,98,42.9,9,33,27.3,...,34.0,26.0,29.0,11.0,28.0,39.0,21.0,5.0,4.0,6.0
74,CHI,L,240,94,35,80,43.8,7,23,30.4,...,33.0,13.0,13.0,13.0,29.0,42.0,22.0,8.0,2.0,15.0
46,CHI,L,240,117,44,82,53.7,13,24,54.2,...,23.0,17.0,23.0,7.0,33.0,40.0,19.0,7.0,4.0,17.0
1,CHI,W,240,124,44,83,53.0,10,21,47.6,...,24.0,16.0,20.0,6.0,25.0,31.0,25.0,7.0,1.0,12.0

In [56]:
matches_rolling = matches.groupby("Team").apply(lambda x: rolling_averages(x, cols, new_cols))
matches_rolling = matches_rolling.droplevel('Team')
matches_rolling.index = range(matches_rolling.shape[0])

In [57]:
matches_rolling

,Team,W/L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,3PA_rolling,FTM_rolling,FTA_rolling,OREB_rolling,DREB_rolling,REB_rolling,AST_rolling,STL_rolling,BLK_rolling,TOV_rolling
0,ATL,L,240,95,38,99,38.4,10,34,29.4,...,35.0,8.0,9.0,6.0,49.0,55.0,31.0,8.0,9.0,13.0
1,ATL,W,240,122,46,90,51.1,12,32,37.5,...,34.0,9.0,15.0,17.0,37.0,54.0,20.0,5.0,3.0,9.0
2,ATL,W,240,102,40,96,41.7,8,30,26.7,...,32.0,18.0,21.0,10.0,39.0,49.0,24.0,11.0,3.0,16.0
3,ATL,L,240,111,48,88,54.5,6,21,28.6,...,30.0,14.0,17.0,21.0,34.0,55.0,21.0,4.0,4.0,11.0
4,ATL,L,240,94,36,95,37.9,8,22,36.4,...,21.0,9.0,14.0,6.0,37.0,43.0,26.0,4.0,3.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,WAS,L,240,102,38,82,46.3,8,21,38.1,...,33.0,20.0,22.0,8.0,37.0,45.0,33.0,7.0,4.0,9.0
2426,WAS,W,240,132,56,101,55.4,13,30,43.3,...,21.0,18.0,20.0,7.0,25.0,32.0,21.0,4.0,2.0,12.0
2427,WAS,L,240,103,42,86,48.8,10,35,28.6,...,30.0,7.0,14.0,9.0,43.0,52.0,38.0,4.0,4.0,10.0
2428,WAS,L,240,92,35,69,50.7,9,28,32.1,...,35.0,9.0,11.0,6.0,38.0,44.0,26.0,4.0,4.0,14.0
2429,WAS,L,240,108,42,94,44.7,8,23,34.8,...,28.0,13.0,17.0,2.0,35.0,37.0,21.0,5.0,5.0,22.0

In [58]:
def make_predictions(data, predictors):
    train = data[data["Game_Date"] < '2022-02-01']
    test = data[data["Game_Date"] > '2022-02-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [59]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [60]:
error

0.5387840670859538

In [61]:
combined

      actual  predicted
49         1          0
50         0          1
51         0          1
52         1          1
53         0          0
...      ...        ...
2425       0          0
2426       1          0
2427       0          0
2428       0          0
2429       0          1

[930 rows x 2 columns]

In [62]:
combined = combined.merge(matches_rolling[["Game_Date", "Team", "opponent", "W/L"]], left_index=True, right_index=True)

In [63]:
combined

      actual  predicted  Game_Date Team opponent W/L
49         1          0 2022-02-03  ATL      PHX   W
50         0          1 2022-02-04  ATL      TOR   L
51         0          1 2022-02-06  ATL      DAL   L
52         1          1 2022-02-08  ATL      IND   W
53         0          0 2022-02-11  ATL      SAS   L
...      ...        ...        ...  ...      ...  ..
2425       0          0 2022-04-03  WAS      BOS   L
2426       1          0 2022-04-05  WAS      MIN   W
2427       0          0 2022-04-06  WAS      ATL   L
2428       0          0 2022-04-08  WAS      NYK   L
2429       0          1 2022-04-10  WAS      CHA   L

[930 rows x 6 columns]